/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Righteous&family=Roboto:wght@300;400;700&display=swap");
/*MEDIA*/
.maxCard {
  width: 70%;
  min-height: 70vh;
  margin: 50px auto;
  padding: 0px 50px 15px 50px;
  font-family: "Poppins", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 0.5fr;
      grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: 0fr;
      grid-template-rows: 0fr;
  gap: 10px 30px;
  grid-auto-flow: row;
      grid-template-areas: "blob blob" "img title" "img description" "img price" "img count";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
  border-radius: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .maxCard {
    gap: 0px 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .maxCard {
    width: 85%;
    margin: 150px auto;
    padding: 0px 5% 0px 5%;
    gap: 0px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
}

.maxCard .blob {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: blob;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  height: 10px;
  width: 75%;
  border-radius: 0 0 30px 30px;
  margin: 0 auto;
  background-color: #2a81bb;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .maxCard .blob {
    margin-bottom: 5%;
  }
}

.maxCard .img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  grid-area: img;
  background-color: white;
  width: 100%;
  height: 65vh;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 35px;
  -webkit-box-shadow: -10px 10px 10px #bebebe;
          box-shadow: -10px 10px 10px #bebebe;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .maxCard .img {
    margin-top: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .maxCard .img {
    margin-bottom: 10%;
    height: 50vh;
  }
}

.maxCard .title {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: title;
  width: 100%;
  text-align: left;
  font-size: 30px;
  margin: 0;
}

.maxCard .description {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: description;
  width: 100%;
  text-align: left;
  font-size: 16px;
  margin: 0;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .maxCard .description {
    font-size: 12px;
  }
}

.maxCard .price {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: price;
  width: 100%;
  text-align: right;
  font-size: 24px;
  margin: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .maxCard .price {
    margin-bottom: 10%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .maxCard .cardConteiner {
    margin-bottom: 10%;
  }
}

.maxCard .cardConteiner .count {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: count;
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .maxCard .viewCart {
    margin-bottom: 10%;
  }
}

.loader {
  --height-of-loader: 4px;
  --loader-color: #2a81bb;
  width: 200px;
  margin: 200px auto;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  -webkit-animation: moving 1s ease-in-out infinite;
          animation: moving 1s ease-in-out infinite;
}

@-webkit-keyframes moving {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@keyframes moving {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
/*# sourceMappingURL=Detail.css.map */